; Woof! systemd service unit file
; Install with: `sudo systemctl enable $(readlink -d woof.service)`

[Unit]
Description=Woof
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/woof
User=pi

Restart=always
RestartSec=10

ExecStart=/home/pi/woof/woof config.json

[Install]
WantedBy=multi-user.target
